.node {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    user-select: none;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
}

.circleSvg {
    cursor: pointer;
    transition: transform 0.1s ease;
    display: block;
    flex-shrink: 0;
}

.circleSvg:hover {
    transform: scale(1.05);
}

.handleTop {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    visibility: hidden;
}

.handleBottom {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    visibility: hidden;
}

.noteContainer {
    min-width: 50px;
    font-size: 12px;
}

.noteText,
.noteInput {
    padding: 6px;
    text-align: center;
    border-radius: 6px;
    margin-top: 3px;
}

.noteText {
    color: rgba(100, 100, 100);
    cursor: text;
    white-space: nowrap;
    display: block;
    background: rgba(240, 240, 240, 0.8);
}

.noteInput {
    font: inherit;
    border: 0px;
    outline: none;
    background: rgba(235, 235, 235, 0.95);
    color: rgba(70, 70, 70);
    white-space: nowrap;
    field-sizing: content;
    min-width: 50px;
}
